@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  background-color: black;
  margin: 0;
}

h1 {
  font-size: 62px;
  font-weight: 600;
  margin: 0.1em 0;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}
